@import "../../styles/templates";

.menu {
  position: relative;
  height: $menuHeight;
}

.menu__container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background-color: #021447bb;
}

.menu__header {
  color: $textColor;
  font-family: $fontText;
  text-shadow: 0 4px 10px #000000;
}
.menu__links_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;

  & h4 {
    color: $textColor;
    font-family: $fontText;
    text-shadow: 0 4px 10px #000000;
  }
}

.menu__links {
  display: flex;
  justify-items: center;
  gap: 2em;

  & img {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 100%;
    filter: grayscale(1);
  }

  & img:hover {
    filter: none;
  }
}