@import '@styles/templates';
@import '@styles/theme.scss';

.menu {
  position: relative;
  height: $menuHeight;
}

.menu__container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: $smSpacing;
  background-color: $darkBrandColor;
}

.menu__header {
  color: $defaultTextColor;
  font-family: $fontText;
  text-shadow: $darkTextShadow;

  & a {
    color: $defaultTextColor;
  }
}

.menu__links_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $mdSpacing;

  & h4 {
    color: $defaultTextColor;
    font-family: $fontText;
    text-shadow: $darkTextShadow;
  }
}

.menu__links {
  display: flex;
  justify-items: center;
  gap: $mdSpacing;

  & img {
    width: 40px;
    height: 40px;
    border: 2px solid $defaultColor;
    border-radius: 100%;
    filter: grayscale(1);
  }

  & img:hover {
    filter: none;
  }
}
