@import "../../templates";


.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task__options {
    @include inputNames($gridColumns: 260px);
}

.options__taskName_visibleName {
    grid-area: name;
}

.options__taskName_visibleName p {
    font-size: $tasksTextSize;
    font-family: $fontText;
    color: $textColor
}

.options__removeTask {
    @include optionBtn($bgColor: rgba(205, 205, 205, 0.793),
        $bgColorHover: rgb(253, 52, 52));
}

.draggingBtn {
    @include optionBtn($bgColor: rgba(205, 205, 205, 0.793), $bgColorHover: rgb(80, 168, 246));
    background-image: url("../../images/grag-icon.png")
}
