@import "../../templates";


.taskContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 0;
}

.taskName {
    @include inputNames($gridColumns: 260px);

    & .visibleName {
        grid-area: name;
    }

    .visibleName p {
        font-size: $tasksTextSize;
        font-family: $fontText;
        color: $textColor
    }
}

.removeTaskBtn {
    @include optionBtn($bgColor: rgba(205, 205, 205, 0.793),
        $bgColorHover: rgb(253, 52, 52));
}

.draggingBtn {
    @include optionBtn($bgColor: rgba(205, 205, 205, 0.793), $bgColorHover: rgb(80, 168, 246));
    background-image: url("../../images/grag-icon.png")
}
