@import "../../templates";


.taskContainer {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.taskName {
    @include inputNames($gridColumns: 260px);

    & .visibleName {
        grid-area: name;
    }

    .visibleName p {
        font-size: $tasksTextSize;
        font-family: $fontText;
        color: $textColor
    }
}

.removeTask {
    @include removeButton($bgColor: rgba(205, 205, 205, 0.793))
}