@import '@styles/templates.scss';

.task-title-container {
  @include inputNames($gridColumns: 300px);
}

.task-title {
  grid-area: name;

  & h3 {
    font-size: $listTextSize;
    font-family: $fontText;
    font-weight: bold;
    color: $defaultTextColor;
  }
}
