@import '../../../../../styles/templates.scss';

.task-title-container {
  @include inputNames($gridColumns: 300px);
}

.task-title {
  grid-area: name;

  & p {
    font-size: $listTextSize;
    font-family: $fontText;
    color: $textColor;
  }
}
