@import '@styles/theme.scss';

@mixin inputNames($gridColumns) {
  display: grid;
  grid-template-areas: 'name';
  grid-template-columns: $gridColumns;
}

@mixin optionBtn($bgColor, $bgColorHover, $isIconBtn) {
  position: relative;
  @if $isIconBtn {
    width: 25px;
    height: 25px;
  } @else {
    width: 23px;
    height: 23px;
  }

  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.566);
  color: $defaultTextColor;
  background-color: $bgColor;
  cursor: pointer;

  &:hover {
    box-shadow: 0 1px 10px rgba(255, 255, 255, 0.339);
    background-color: $bgColorHover;
  }
}
