// Colors
$defaultTextColor: rgb(255, 255, 255);
$defaultInverseTextColor: rgb(0, 0, 0);
$brandColor: rgba(6, 255, 168, 0.706);
$darkBrandColor: rgba(2, 20, 71, 0.733);
$hoveredBrandColor: rgba(6, 255, 168, 0.925);
$lightBrandColor: rgba(188, 143, 143, 0.4);
$defaultColor: rgb(255, 255, 255);
$opacityDefaultColor: rgba(255, 255, 255, 0.769);
$opacityDefaultInverseColor: rgba(0, 0, 0, 0.229);

// Font
$fontText: 'Roboto', sans-serif;
$listTextSize: clamp(15px, 2vw, 18px);
$tasksTextSize: clamp(13px, 2vw, 15px);
$darkTextShadow: 0 4px 10px #000000;

// Sizes
$menuHeight: 60px;

$smSpacing: 10px;
$mdSpacing: 2em;
$lgSpacing: 4em;

// Margins
$addListHeight: 50px;
$addListMargin: 30px;

// border-radius
$smBorderRadius: 10px;
