@import "../../templates";


.listsBlock {
    display: flex;
    width: 110%;
}

.listsBlock__container {
    display: flex;
    height: calc(100vh - ($addListMargin + $addListHeight + $menuHeight));
}
