@import "../../templates";


.listsContainer {
    display: flex;
    justify-content: center;
    width: 320px;
}

.listName {
    @include inputNames($gridColumns: 300px);


    & .visibleName {
        grid-area: name;
        z-index: 0

        & p {
            font-size: 18px;
            margin: 12px;
            font-family: $fontText;
        }
    }

}

