@import '@styles/templates.scss';
@import '@styles/theme.scss';

.task {
  display: flex;
  justify-content: center;
  width: 330px;
  height: calc(100vh - ($addListMargin + $addListHeight + $menuHeight + 5%));
  padding: $smSpacing;
  margin: 0 $smSpacing;
  border: 1px solid $opacityDefaultColor;
  background-color: $opacityDefaultInverseColor;
}

.task_actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $smSpacing 0;
}

.task_subtask-container {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  height: 80%;
  overflow: auto;
  border-radius: $smBorderRadius;
  background-color: $lightBrandColor;
  padding: $smSpacing;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(42, 119, 202, 0.3);
    border-radius: $smBorderRadius;
    background-color: $defaultColor;
  }

  &::-webkit-scrollbar {
    border-radius: $smBorderRadius;
    width: 8px;
    background-color: $defaultColor;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $smBorderRadius;
    -webkit-box-shadow: inset 0 0 6px rgba(36, 40, 85, 0.3);
    background-color: $opacityDefaultInverseColor;
  }
}
