@import '@styles/templates.scss';

.subtask-title-container {
  @include inputNames($gridColumns: 240px);
}

.subtask_title {
  grid-area: name;

  & p {
    font-size: $tasksTextSize;
    font-family: $fontText;
    color: $defaultTextColor;
  }
}
