@import '@styles/templates';
@import '@styles/theme';

.add-task-container {
  position: relative;
  width: 100%;
  height: $lgSpacing;

  & div {
    width: 100%;
    height: $addListHeight;
    margin-bottom: $addListMargin;
    position: fixed;
  }
}
