body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  width: min-content;
  height: 100vh;
  background-attachment: fixed;
  background-position: inherit;
  background-size: cover;
  background-image: url("./images/backgroundImage.jpg");
}