$fontText: 'Roboto', sans-serif;
$fontSizeListName: 20px;
$listsBackground: rgba(255, 255, 255, 0.603);
$borderRadius: 7px;
$textColor: rgb(255, 255, 255);
$listTextSize: clamp(15px, 2vw, 18px);
$tasksTextSize: clamp(13px, 2vw, 15px);
$addListHeight: 50px;
$addListMargin: 30px;


@mixin inputNames($gridColumns) {
    display: grid;
    grid-template-areas: "name";
    grid-template-columns: $gridColumns;
}


@mixin optionBtn($bgColor, $bgColorHover) {
    width: 25px;
    height: 25px;
    margin: 0 3px;
    border-radius: 45%;
    border: 1px solid rgba(255, 255, 255, 0.566);
    color: $textColor;
    background-color: $bgColor;
    cursor: pointer;

    &:hover {
        box-shadow: 0 1px 10px rgba(255, 255, 255, 0.339);
        background-color: $bgColorHover;
    }
}

