@import '../../styles/templates.scss';

.outlined-button {
  height: 2em;
  border: 1px solid $brandColor;
  color: white;
  border-radius: 10px;
  background-color: transparent;
  transition: all 0.2s ease;
  font-family: $fontText;
  font-size: $listTextSize;
  cursor: pointer;
}

.outlined-button:hover {
  background-color: $hoveredBrandColor;
  box-shadow: 0 1px 10px rgba(255, 255, 255, 0.797);
  color: black;
}
