@import '@styles/templates.scss';
@import '@styles/theme.scss';

.outlined-button {
  height: $mdSpacing;
  border: 1px solid $brandColor;
  color: $defaultTextColor;
  border-radius: $smBorderRadius;
  background-color: transparent;
  transition: all 0.2s ease;
  font-family: $fontText;
  font-size: $listTextSize;
  cursor: pointer;
}

.outlined-button:hover {
  background-color: $hoveredBrandColor;
  box-shadow: 0 1px 10px rgba(255, 255, 255, 0.797);
  color: $defaultInverseTextColor;
}
